.uno {
    background: blue;
    border: 3px solid blue;
    position: relative;
    z-index:40;
}


.dos {
    background: red;
    border: 3px solid red;
    left:-40px;
    top:-45px;
    z-index:50;
    position: relative;
    
}

.tres {
    background: orange;
    border: 3px solid orange;
    left:0px;
    top:-80px;
    z-index:30;
    position: relative;
}