


.contenido {
    background:lightcoral;
    width: 80%;
    height: 500px;
    margin:25px auto;
    border: 3px inset darkgoldenrod;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:center;
    
    

}

.hijo {
    background:orange;
    width:200px;
    height:100px;
    color:#fff;
    margin:30px;
    border:10px solid lightblue;
}